<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title", :autofocus => true %>
  </div>

  <div class="field">
    <%= f.text_field :author, :placeholder => "Author" %>
  </div>

  <div class="field">
    <%= f.text_field :raw_tags, :id => "tags" %>
  </div>

  <div class="field">
    <label class="btn file-btn">
      <i class="icon-file-alt"></i>
      Choose a file...
      <%= f.file_field :file, {"data-file-val" => "file-val"} %>
    </label>
    <span id="file-val"></span>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-black"> 
      <i class="icon-cloud-upload"></i> <%= @document.id ? "Save" : "Upload" %>
    </button>
    <%= link_to "Cancel", documents_path, :class => "btn cancel-btn" %>
  </div>
<% end %>
