<!DOCTYPE html>
<html>
  <head>
    <title>DOCSTORE</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script type="text/javascript">
      window.SERVER_ROOT = '<%= request.protocol + request.host_with_port %>';
    </script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'shared/header' %>
    <%= yield %>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>
