<!DOCTYPE html>
<html>
<head>
  <title>Docstore</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript">
    window.SERVER_ROOT = '<%= request.protocol + request.host_with_port %>';
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= link_to :controller => "documents" do %>
      <i class="icon-cloud"></i> DOCSTORE
    <% end %>
  </div>

  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
      <a class="close"><i class="icon-remove-circle"></i></a>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
